<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name=".widget.ProviderWidgetHostDebugActivity"
      android:exported="true" />
    <service
      android:name=".accounts.NamedProfileAuthorityProbeService"
      android:exported="false"
      android:process=":named_profile_authority_probe" />
    <activity
      android:name=".debug.ProviderLoginDebugActivity"
      android:exported="true" />
    <activity
      android:name=".debug.ProviderOnboardingComposeTestActivity"
      android:exported="false" />
    <activity
      android:name=".debug.ProviderCardCatalogDebugActivity"
      android:exported="true"
      android:process=":provider_card_catalog_debug" />
    <receiver
      android:name=".debug.LiveRefreshIssueDebugReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.SHOW_LIVE_REFRESH_ISSUE" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".debug.ProviderRefreshDebugReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.REFRESH_PROVIDER" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".debug.ProviderStateDebugReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.RESET_PROVIDER" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".debug.DebugResetNotificationReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.FAKE_RESET_NOTIFICATION" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".debug.DebugClaudePrimeReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.FORCE_CLAUDE_PRIME" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".debug.DebugUsageThresholdNotificationReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.aiquota.mobile.debug.FAKE_USAGE_THRESHOLD_NOTIFICATION" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
